# Examples of how to add to this file can be found here: 
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
/.github/ @khinton
/.github/CODEOWNERS @khinton
