<settings>
	<activeProfiles>
		<activeProfile>securecentral</activeProfile>
	</activeProfiles>

	<servers>
		<server>
			<id>maven-s3-snapshot-repo</id>
			<username>${env.AWS_ACCESS_KEY}</username>
			<password>${env.AWS_SECRET_ACCESS_KEY}</password>
			<privateKey>${user.home}/.ssh/id_rsa</privateKey>
			<passphrase>${env.AWS_SECRET_ACCESS_KEY}</passphrase>
			<configuration>
				<wagonProvider>s3</wagonProvider>
			</configuration>
		</server>
		<server>
			<id>maven-s3-release-repo</id>
			<username>${env.AWS_ACCESS_KEY}</username>
			<password>${env.AWS_SECRET_ACCESS_KEY}</password>
			<privateKey>${user.home}/.ssh/id_rsa</privateKey>
			<passphrase>${env.AWS_SECRET_ACCESS_KEY}</passphrase>
			<configuration>
				<wagonProvider>s3</wagonProvider>
			</configuration>
		</server>
	</servers>

	<profiles>

		<profile>
			<id>aws</id>
			<repositories>
				<repository>
					<id>maven-s3-release-repo</id>
					<name>S3 Release Repository</name>
					<url>s3://com.dstawd.maven/release</url>
					<releases>
						<updatePolicy>interval:10080</updatePolicy>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>maven-s3-snapshot-repo</id>
					<name>S3 Snapshot Repository</name>
					<url>s3://com.dstawd.maven/snapshot</url>
					<releases>
						<updatePolicy>interval:10080</updatePolicy>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>securecentral</id>
			<repositories>
				<repository>
					<id>maven-s3-release-repo</id>
					<name>S3 Release Repository</name>
					<url>s3://com.dstawd.maven/release</url>
					<releases>
						<updatePolicy>interval:10080</updatePolicy>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>maven-s3-snapshot-repo</id>
					<name>S3 Snapshot Repository</name>
					<url>s3://com.dstawd.maven/snapshot</url>
					<releases>
						<updatePolicy>interval:10080</updatePolicy>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>central</id>
					<url>https://repo1.maven.org/maven2</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>redhat-earlyaccess</id>
					<url>https://maven.repository.redhat.com/earlyaccess/all</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>confluent-io</id>
					<url>https://packages.confluent.io/maven</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>mulesoft</id>
					<url>https://repository.mulesoft.org/releases/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
				<repository>
					<id>shib-release</id>
					<url>https://build.shibboleth.net/nexus/content/repositories/releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>https://repo1.maven.org/maven2</url>
					<releases>
						<enabled>true</enabled>
					</releases>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>
